@model IEnumerable<MvcMovie.Models.Ticket>;
@{
    ViewData["Title"] = "Index";
}

<h1 style="color:blue;" class="text-center">Index of Ticket na</h1>

@foreach(var ticket in Model){
    <div>Ticket ID : @ticket.Id</div>
    <div>Ticket Movie name : @ticket.Movie</div>
    <div>Ticket price : @ticket.Price</div>
    @if (ticket.Price > 500){
        <strong class="text-danger"> Expensive </strong>
    } else{
        <strong class="text-success"> Cheap </strong>
    }
    <hr/>
}
